<tr id="contributor-<%= contributor.id %>">
  <td><%= link_to contributor, contributor %></td>
  <td><%= contributor.email %></td>
  <td><%= contributor.github_url %></td>
  <td><%= contributor.company %></td>
  <td><%= contributor.location %></td>
</tr>