<tr id="repo-<%= repo.id %>" data-repo-id="<%= repo.id %>">
  <td><%= repo.name %></td>
  <td><%= repo.html_url %></td>
  <td><%= repo.description %></td>
  <td>
	  <% unless Blogdiggity::Repository.find_by_name(repo.name) %>
	    <%= button_to "Add", add_contributor_repository_path(@contributor, repo.name), :method => :post, :class => 'btn btn-success' %>
	  <% else %>
	    <%= button_to "Remove", remove_contributor_repository_path(@contributor, repo.name), :method => :delete, :class => 'btn btn-danger' %>
	  <% end %>
  </td>
</tr>