<!DOCTYPE html>
<html>
<head>
  <title><%= @page.nil? ? 'Blogdiggity' : @page.title %></title>
  <%= stylesheet_link_tag "blogdiggity/blogdiggity", :media => "all" %>

	<meta name="description" content="<%= @page.nil? ? '' : @page.summary	 %>" />

  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container"><!-- #TODO change to container-fluid-->

  <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Blogdiggity</a>
    </div>
    
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= active_path?(contributors_path) %>"><%= link_to "Contributors", contributors_path %></li>
            <li class="<%= active_path?(pages_path) %>"><%= link_to "Pages", pages_path %></li>
          </ul>

					<% if current_contributor %>  
					<div class="btn-group pull-right top-right-nav">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
							<i class="icon-user"></i>
							<%= current_contributor.nickname %>
							<span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><%= link_to 'Repositories', current_contributor %></li>
							<li class="divider"></li>
							<li><%= link_to "Sign Out", contributor_signout_path(current_contributor), :method => :put %></li>
						</ul>
					</div>
					<% end %>

        </div><!--/.nav-collapse -->
      </div>
  </div>

  <div class="container">
	  <%= render "blogdiggity/shared/flash_message" %>
    <%= yield %>
    <%= render "blogdiggity/pages/comments" %>
  </div> <!-- /container -->
  <%= javascript_include_tag "blogdiggity/blogdiggity" %>
</body>
</html>

