<div class="row">
<div id="content" class="main-content-inner col-sm-12 col-md-8 pull-left">
  <% @pages.each do |page| %>
    <article id="<%= page.slug %>" class="blog-article">
      <div class="article-inner-content">
        <header class="article-header page-header">
          <h1 class="article-title">
            <%= link_to page.slug, page.slug, :class => "article-link" %>
          </h1>
          <div class="article-meta">
            <span class="posted-on">
              <span class="glyphicon glyphicon-calendar"></span>
              <a href="#" rel="bookmark">
                <%= page.published_at.to_date %>
                </a>
            </span>
            <span class="byline">
              <span class="glyphicon glyphicon-pencil"></span>
                <%= page.repository.contributor.nickname %>
            </span>			
            <span class="comments-link">
              <span class="glyphicon glyphicon-comment"></span> 
              <a href="#" >0 Comments</a>
            </span>
          </div><!-- article-meta -->
          <div class="article-content">
            <p><%= page.summary %></p>
            <p class="clearfix">
            <a class="btn btn-sm btn-primary read-more sharp" href="#">Read More</a>
            </p>
            </div>
        </header>
      </div><!--article-inner-content -->
    </article>
  <% end %>
</div><!-- main-content-inner --> 
<div id="secondary" class="widget-area col-sm-12 col-md-4" role="complementary">

  <div class="well">
    <div class="input-group search">
      <input class="form-control" type="text" placeholder="Search...">
      <span class="input-group-addon">
        <i class="glyphicon glyphicon-search"></i>
      </span>
    </div>
    <h4>Recent Posts </h4>
  </div>
</div><!-- secondary -->
</div><!-- row -->
